/* Mobile phones */

@media only screen and (max-width: 780px) {
    
    
  

    

    .attention{
        display: none;
    }

    

    .notification > span {
        flex-basis: none;
    }

    .mainPage header::before{
        display: none;
    }

    .navbar{
      justify-content: flex-start;

    }

    .navbarHidden {
        width: 1px;
    }

    .containerFluid {
        margin: 0 0 0 0;
    }

    

    .hamburger-icon{
        padding: 0;
        margin-left: 43vw;
    }

    .hamburger-menu{
        margin: 0 0 0 0;
    }


    .spaceBetween{
        display: none;
        flex-shrink: 10;
        width: 1px;
    }

    .logo{
      margin-left: 20px;
      min-width: 195px;
      justify-content: flex-start;
    }

    /* .logo h3{
        font-size: 25px ;
    }

    .logo h4{
        font-size: 17px;
    } */

    .container{
        width: 89vw;
        margin-left: 20px;
    }

    .detailbox h1 {
        font-size: 38px;
    }

    .openingHours {
        font-size: 13px;
    }

    .mainContact {
        margin: 250px 0 0 20px;
    }

    .mainConsult :nth-child(1){
        font-size: 22px;
      }

    .mainConsult :nth-child(2){
        font-size: 17px;
      }

    .mainConsult :nth-child(3){
        font-size: 17px;
      }

    .mainContactContainer {
        flex-direction: column;
    }

    .phoneIcon{
        width: 83px;
        height: 86px;
        margin-left: 8px;
    }

    .post{
        flex-direction: column;
        align-items: flex-start;
    }

    .post img{
        width: 85px;
        height: 80px;
        margin-left:13px ;
        right: 50px;
        margin-top: 50px;
    }

    .post a {
        margin-top: 18px;
        font-size: 17px;
    }

    .welcomePhoto{
        width: 307px;
        height: auto;
        left: 13vw;
    }

    .officeHeading{
        margin-left: 20px;
    }

    .officeHeading h2 {
        font-size: 38px;
    }

    /*Doctors office  section*/

}

@media only screen and (max-width: 600px){
    .logo{
        margin: 0 0 0 20px;
        padding: 0 0 0 0;
    }
}

@media only screen and (max-width: 1250px) {
  #desktop-nav {
      display: none;
  }
  .hamburger-icon {
      display: flex;
  }
}

@media only screen and (max-width: 1250px){

}


/* 1600px + */

@media screen and (min-width: 1600px){



}