/* Mobile phones */


/* 1600px + */

@media screen and (min-width: 1600px){



}


@media only screen and (max-width: 1250px) {
  
    /* header nav hamburger */
  
    #desktop-nav {
      display: none;
  }
  .hamburger-icon {
      display: flex;
  }

  /*Doctors office  section*/
    .officeHeading{
        flex-direction: column;
    }

    .officeHeading div{
        margin-top: 30px;
        max-width: 150px;
        min-width: none;
        
    }

    .insuranceLogoContainer{
        display: none;
    }

    /* Staff section */

    .staffJanaMatejkova{
        justify-content: center;

    }

    .staffIrenaPodlahova{
        justify-content: center;
    }

    .staffJanaMatejkova div{
        margin: 38vw 0 0 5vw;
        
    }

    .staffIrenaPodlahova img{
        top: 1vw;
        margin: 20px 0 0 0;
    }


    .staffIrenaPodlahova div{
        margin: 25vw 0 0 5vw;
    }

    
}

@media only screen and (max-width: 780px) {
    
    
  

    

    .attention{
        display: none;
    }

    

    .notification > span {
        flex-basis: none;
    }

    .mainPage header::before{
        display: none;
    }

    .navbar{
      justify-content: flex-start;

    }

    .navbarHidden {
        width: 1px;
    }

    .containerFluid {
        margin: 0 0 0 0;
    }

    

    .hamburger-icon{
        padding: 0;
        margin-left: 43vw;
    }

    .hamburger-menu{
        margin: 0 0 0 0;
    }


    .spaceBetween{
        display: none;
        flex-shrink: 10;
        width: 1px;
    }

    .logo{
      margin-left: 20px;
      min-width: 195px;
      justify-content: flex-start;
    }

    /* .logo h3{
        font-size: 25px ;
    }

    .logo h4{
        font-size: 17px;
    } */


    .container{
        width: 89vw;
        margin-left: 20px;
    }

    .detailbox h1 {
        font-size: 38px;
    }

    .openingHours {
        font-size: 13px;
    }

    .mainContact {
        margin: 250px 0 0 20px;
    }

    .mainConsult :nth-child(1){
        font-size: 22px;
      }

    .mainConsult :nth-child(2){
        font-size: 17px;
      }

    .mainConsult :nth-child(3){
        font-size: 17px;
      }

    .mainContactContainer {
        flex-direction: column;
    }

    .phoneIcon{
        width: 83px;
        height: 86px;
        margin-left: 8px;
    }

    .post{
        flex-direction: column;
        align-items: flex-start;
    }

    .post img{
        width: 85px;
        height: 80px;
        margin-left:13px ;
        right: 50px;
        margin-top: 50px;
    }

    .post a {
        margin-top: 18px;
        font-size: 17px;
    }

    .welcomePhoto{
        width: 307px;
        height: auto;
        left: 13vw;
    }

    /*Doctors office  section*/

    .officeHeading{
        margin-left: 20px;
        flex-direction: column;
        max-width: 90vw;
    }

    .doctorsOffice h2 {
        font-size: 38px;
        margin: 0 0 0 0;
    }

    .officeHeading a  {
        font-size: 25px;
        max-width: 90vw;
        width: 100%;
    }

    .doctorsOffice p{
        margin: 30px 0 0 20px;
        max-width: 90vw;
    }

    .officeHeading div{
        width: 80px;
        border-radius: 30px;
        height: 59px;
        max-width: 85vw;
    }

    .officeNav{
        margin: 0 0 0 20px;
    }

    .officeNav{
        margin-top: 20px;
        line-height: 2;
        text-align: center;
        max-width: 90vw;

    }

    /* Staff section */

    .staffContainer{
        margin-left: 20px;
    }

    

    .staffJanaMatejkova img{
        height: auto;
        width: 31.5vw;
    }

    .janaMatejkovaParagraph{
        margin: 400px 0 0 0;
    }

}

@media only screen and (max-width: 600px){
    .logo{
        margin: 0 0 0 20px;
        padding: 0 0 0 0;
    }

    .staffJanaMatejkova div{
        margin-left: 0;
    }

    .staffIrenaPodlahova div{
        margin-left: 0;
    }
}







