html{
  scroll-behavior: smooth;
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
  }

body{
    background-color: #FFFCF0;
    font-size: 22px;
    color: #160Eaa;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    letter-spacing: 0px;
    opacity: 1;
    position: relative;
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}





/* header section */
/* .topBanner{
  display: none;
} */
header{
  position: relative;
}

.notification{
    background: #C6E5CD;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
  }

  .notification > span{
    flex-basis: auto;
    font-weight: normal;

  }

  .attention{
    margin-left: 70px;
    font-size: 16px;
  }

  .bannerRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    padding-right: 3%;
  }

  .bannerRight > span{
    font-weight: medium;
    margin-right: 26px;
  }

  .bannerRight > a{
    font-size: 16px;
    
    color: #160Eaa;
    
  }

  .bannerRight > a:hover{
    text-decoration: none;
  }


/* navbar */

.mainPage header::before {
  content: "";
  position: absolute;
  top: 70px;
  left: -230px;
  width: 57vw;
  height: 57vw;
  background: url('../img/Tecky.svg') no-repeat; 
  background-size: contain;
  z-index: -1;
  opacity: 1;
 
  
}

.mainPage header::after {
  content: "";
  position: absolute;
  top: 360px;
  left: 82vw;
  width: 180px;
  height: 1450px;
  background: url('../img/Raketa.svg') no-repeat; 
  background-size: cover;
  z-index: 999;
  opacity: 1;
  overflow-x: hidden;
}

.menu-links.open + .mainPage header::after {
  opacity: 0; /* Skryje obrázek rakety, když je menu otevřené */
}

.menu-links:not(.open) + .mainPage header::after {
  opacity: 1; /* Zobrazí obrázek rakety, když je menu zavřené */
}


.containerFluid{
  margin: 33px 0 0 0;
}

.navbar{
  display: flex;

  flex-direction: row;
  z-index: 999;
  position: relative;
  /* justify-content: space-between; */
}



.navbarHidden{
  display: flex;
  justify-content:center;
  flex-direction: row;
  z-index: 100;
  /* position: relative; */
  
  align-content: center;
}



.logo {
  margin-left: 70px;
  min-width: 304px;
}

.logo:hover{
  cursor: pointer
}

.logo>h3{
  
  height: 41px ;
  opacity: 1;
  flex-basis: auto;
}

.logo h4{
  height: 23px;
  flex-basis: auto;
}



  /* Hamburger navbar */
#desktop-nav{
  display: flex;
  flex-direction: row;
  min-width: 554px;
  
}



.nav-links{
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
}

.nav-links li a{
  margin-right: 10px;
  gap: 2rem;
  text-decoration: none;
  color: #160Eaa;
  font-weight: bold;
  z-index: 999;
  font-size: 38px;
}

.nav-links > li >a:hover{
  /* color: #C6E5CD; */
  text-decoration: underline;

}

.menu-links li a{
  margin-left: 150px ;
  gap: 2rem;
  text-decoration: none;
  color: #160Eaa;
  font-weight: bold;
  z-index: 100;
}

.menu-links > li >a:hover{
  text-decoration: underline;
  z-index: 100;
}

#hamburger-menu {
 

  z-index: 100;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23px;
  width: 30px;
  cursor: pointer;
  display: none;
  /* padding: 0 200px 0 200px; */
  z-index: 1000;
  /* margin-top: 10px; */
  position: absolute;
  right: max(10vw, 70px);
  top: 14px;
}

.hamburger-icon span {
  width: 45px;
  height: 3px;
  background-color: #160Eaa;
  transition: all 0.3 ease-in-out;
  transform-origin: center;
  z-index: 999;
}

.menu-links {
  position: fixed;
  top: 0px;
  left:0px;
  padding-top: 0px;
  background-color: #D6EDF0;
  height: 100vh;
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  z-index: 200;

}

.menu-links.open::before {
  opacity: 1; 
}

.menu-links::before{
  content: "";
  position: fixed;
  top: 360px;
  right: -25px;
  width: 180px;
  height: 1450px;
  background: url('../img/Raketa.svg') no-repeat; 
  background-size: contain;
  z-index: 5;
  opacity: 0;
  overflow-x: hidden;
}



.menu-links li:last-child a {
  font-size: 25px;
  font-weight: normal;
  margin-top: 87px;
}

.menu-links li:first-child a{
  margin-top: 100px;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: left;
  font-size: 38px;
  color: #160Eaa;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
  z-index: 999;

}

.menu-links li {
  list-style: none;
  z-index: 999;
}

.menu-links.open {

  max-height: 100vh;
  z-index: 999;
  font-size: 38px;
  z-index: 10;
}

.hamburger-icon span{
  width: 70px;
  z-index: 999;
}



.hamburger-icon.open span:first-child{
  transform: rotate(45deg) translate(8px, 5px);
  z-index: 999;
}
.hamburger-icon.open span:nth-child(2) {
  transform: rotate(-45deg) translate(8px, -5px);
  z-index: 999;
}

.hamburger-icon span:first-child {
  transform: none;
  z-index: 999;
}

.hamburger-icon span:last-child {
  transform: none;
  z-index: 999;
}





/* Main */

/* openOrNot */

.openOrNot,
 .container,
  .openingHoursRow,
   .openingHoursContainer,
    .detailBox, 
     .detailBox h1,
      .openingHours{
  z-index: 100;
}



.detailBox{
  text-align: center;
  margin-top: 102px;
  
}

.detailBox h1{
  position: relative;
}

.openingHours  {
  color: inherit;
  margin: 10px 0 104px ;
  
}

.openingHours:hover{
  /* color: #C6E5CD; */
  text-decoration: none;
  
}


.mainInfo{
  display: flex;
  justify-content: space-between;
  margin: 50px 0 94px 0;
}



.mainContact{
display: flex;
flex-direction: column;
margin:30px 0 0 136px;
}

.mainContactContainer{
  display: flex;
  flex-direction: row;

}

.mainContactContainer :nth-child(1) {
  font-size: 30px;
  text-decoration: none;
  align-self: self-start;
  color: inherit;
  
}



.mainContactContainer :nth-child(2){
  margin-top: 15px;
  font-size: 22px;
  max-width: 369px;
}

.mainContactContainer :nth-child(3){
  margin-top: 17px;
  font-size: 22px;
  align-self: self-start;
}


.phoneIcon{
height: 115px;
width: auto;
margin: 22px 30px;


}

.mainConsult{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.mainConsult :nth-child(1):hover{
  text-decoration: underline;
  
}

.mainConsult :nth-child(3){
 color: inherit;
}




.mainConsult :nth-child(3):hover{
  /* color: #C6E5CD; */
  text-decoration: none ;
}

.post{
display: flex;
align-items: center;

}

.postIcon{
  height: 100px;
  width: auto;
  margin: 57px 30px 0 45px;

}

.post a {
  font-size: 22px;
  color: inherit;
  margin-top: 50px;
}

.post a:hover{
  /* color: #C6E5CD; */
  text-decoration: none;
  
}

.welcomePhoto{
  left: 720px;
  position: absolute;
  width: 661px;
  height: auto;
  overflow-x: hidden;
  
  
}

#backToTopBtn {
  display: none; 
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 500;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  border: none;
  background-color: #C6E5CD ;
  color: #160EAA;
  font-family: 'Larsseit-bold';
  overflow: hidden;
  font-size: 20px;
  line-height: 40px; 
  text-align: center;
}



#backToTopBtn::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 0 4px 4px 0;
  border-color: #160EAA;
  transform: rotate(-135deg); /* Otočení šipky */
  position: absolute;
  top: 50%; /* Zarovnání šipky do středu tlačítka */
  left: 50%; /* Zarovnání šipky do středu tlačítka */
  transform: translate(-50%, -50%) rotate(-135deg); /* Otočení šipky a zarovnání do středu */
  border-radius: 3px;
}



#backToTopBtn::before {
  content: '';
  display: block;
  width: 3px;
  height: 30px;
  background-color: #160EAA;
  position: absolute;
  top: 55%; /* Zarovnání šipky do středu tlačítka */
  left: 50%; /* Zarovnání šipky do středu tlačítka */
  transform: translate(-50%, -50%) rotate(180deg); /* Otočení a zarovnání čáry */
  border-radius: 2px;
}

#backToTopBtn:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}




/*Doctors office  section*/
.doctorsOffice{
  background-color: #FFEDA3;
  padding: 130px 0 100px 0 ;
  width: 100%;
  
}

.backToTopImage{
  height: 80%;
  width: auto;
}

.doctorsOffice h2{
  font-size: 65px;
  margin: 0 376px 0 0;
  max-width: 450px;
}

.doctorsOffice p a{
  color: inherit;
  font-weight: normal;
}

.doctorsOffice p a:hover{
  text-decoration: none;
  
}

.officeHeading{
  display: flex;
  flex-direction: row;
  z-index: 5;
  margin-bottom: 75px;
  flex-basis: auto;
  overflow: hidden;
  margin: 0 0 0 150px;
  position: relative;
}

.officeHeading{
  z-index: 4;
}


.officeHeading div{
  background-color: #FFFCF0;
  font-size: 30px;
  min-width: 322px;
  height: 69px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  z-index: 999;
  margin-bottom: 10px;
  position: absolute;
  right: 169px;
}

.officeHeading div:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 500;
}

.officeHeading a{
  margin: 0 34px 0 34px;
  text-decoration: none;
  color: inherit;
}

.doctorsOffice p{
  font-size: 22px;
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 70px 0 0 150px;

}

.doctorsOffice p a{
  font-size: 22px;
  font-weight: normal;
}

.officeNav{
  font-size: 22px;
  font-weight: normal;
  margin: 60px 0 0 150px;
}

.officeNav a{
  margin-right: 50px;
  color: inherit;
  
}

.officeNav a:hover{
  text-decoration: none;
}


/* InsuranceLogo */

.insuranceLogo {
  background-color: #fffcf0;
  height: 91 px;
  display: flex;
  
  flex-direction: row;
  padding: 18px 0 18px 0;
}

.insuranceLogo img{
  margin-right: 68px;
  position: relative;
  margin-left: 70px;
  transition: transform 0.5s ease-in-out;
}

.sliderContainer{
  
  display: flex;
  align-items: center;
  overflow: hidden;

}





/* Staff section */

.staff{
  background: #FFEDA3;
  padding-top: 40px;
  padding-bottom: 37px;
}

.staffJanaMatejkova{
  display: flex;
  flex-direction: row;
  position: relative;

}

.staffJanaMatejkova img{
  position: absolute;
  height: auto;
  width: 400px;
  max-height: 415px;
  max-width: 440px;
}

.staffContainer{
  margin: 0 0 0 100px;
}

.staffJanaMatejkova div{
  margin: 35px 0 90px 500px;
  max-width: 700px;
}

.staffJanaMatejkova h3{
  font-size: 30px;
  font-weight: bold;
}

.staffJanaMatejkova p{
  margin-top: 18px;
  font-size: 22px;
  max-width: 700px;
  margin-right: 110px;
  overflow-wrap: normal;
}


.staffIrenaPodlahova{
  display: flex;
  flex-direction: row;
  position: relative;
}

.staffIrenaPodlahova img{
  margin: 0px 0 0 170px;
  max-height: 288px;
  position: absolute;
  height: auto;
  width: 300px;
  
}

.staffIrenaPodlahova div{
  margin: 60px 0 0 500px;
  max-width: 700px;
  min-height: 220px;
}

.staffIrenaPodlahova h3{
  font-size: 30px;
  font-weight: bold;

}

.staffIrenaPodlahova p{
  margin-top: 18px;
  font-size: 22px;
  font-weight: normal;
  max-width: 700px;
  margin-bottom: 0px;
  margin-right: 110px;
  overflow-wrap: normal;
  
}

/* Slider section */

.photoSlider{
  padding: 10px 0 10px 0;
  overflow: hidden;
  position: relative;
}

.photoSliderContainer{
  overflow: hidden;
 
}


.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.sliderContainer img {
  width: auto;
  max-height: 372px;
  margin-right: 10px;
  transition: transform 0.5s ease-in-out;
}







/* Rewiev From Patients section */

.rewievFromPatients{
  background-color: #FFEDA3;
  padding: 100px 0 100px 0;
}

.rewievFromPatients h2{
  font-size: 45px;
  margin-bottom: 40px;
  margin-left: 150px;
}

.patientRewiev{
  background: #FFFCF0;
  display: flex;
  flex-direction: row;
  padding: 60px 4.8vw 60px 3.4vw;
  margin-left:150px;
  width: 73vw;
  border-radius: 22px ;
  
}


.patientRewiev div{
  display: flex;
  flex-direction: column;
  
}

.patientRewiev img{
margin-right: 15px;
max-width: 100%;
height: 100%;
width: 16.9vw;

}

.patientRewiev p{
  font-size: 28px;
  
  margin-bottom: 22px;
}

.patientRewiev span{
  font-size: 28px;
  font-weight: bold;
}

.otherRewievs{
  margin-left: 274px;
}

.otherRewievs h3{
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.searchEngine{
  font-size: 22px;
  display: flex;
  flex-direction: row;
  
  
  line-height: 1.5;
}

.searchEngine a:hover{
  text-decoration: inherit;
}

.otherRewievs a{
  font-size: 22px;
  color: inherit;
  margin-right: 50px;

}

/* Office Hours section */

.officeHours{
  padding: 85px 0 100px 0;
   

}

.officeHours h2{
  font-size: 65px;
  margin-left: 150px;
}

.officeHours h5{
  margin-top: 75px;
  font-size: 30px;
  margin-left: 150px;
}

.officeHours p{
  margin-top: 30px;
  font-size: 22px;
  width: 700px;
  margin-left: 150px;
}



.officeHours table{
  height: 330px;
  width: 928px;
  margin-top: 40px;
  text-align: center;
  border-radius: 22px;
  overflow: hidden;
  border-collapse: collapse;
  margin-left: 150px;
}

.odd td,th{
  background-color: #C6E5CD;
}

.even td{
  background-color: #F4E8DC;
}


thead th {
  font-size: 22px;
  
  min-width: 200px;
}

thead {
  height: 80px;
}




.day {
  font-size: 22px;
  font-weight: bold;
  padding-left: 41px;
  padding-right: 10px;
  
}

tr {
  height: 50px;
}

.available {
  font-size: 22px;
}


/*advice and tips section*/



.adviceAndTips {
  background-color: #D6EDF0;
  padding: 82px 0 150px 0;
  width: 100%;
}

.adviceAndTipsInside > h2{
  font-size: 65px;
  margin-bottom: 5px ;
  margin-left: 150px;
}

.adviceAndTipsInside > h3{
  font-size: 45px ;
  margin: 60px 0 30px 150px;
  font-family: 'Larsseit';
}

.adviceAndTipsInside{
  width: 800px;
  
 
}



.adviceContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.adviceContainer h3{
  margin: 23px 0 23px 40px;
  
  
}

.adviceRollbox {
  display: flex;
  flex-direction: column;
  background-color: #FFFCF0;
  font-size: 30px;
  width: 800px;
  margin-bottom: 10px;
  border-radius: 22px;
  margin-left: 150px;

}

.adviceRollbox:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.adviceToggle{
  font-family: 'Larsseit';
  
}


.adviceToggleContent{
margin: 0 60px 0 40px;
display: none;
padding-bottom: 27px;
}

.adviceToggleContent h4{
font-weight: bold;
margin-top: 20px;
margin-bottom: 20px;
font-size: 22px;
} 

.adviceToggleContent p{
font-weight: normal;
font-size: 22px;
padding-bottom: 20px;

}

#emergencyContact .adviceToggleContent h4{
  text-decoration: underline;
}

#increasedTemperature .adviceToggleContent ul li::before {
  content: '\2022'; /* Unicode character for bullet */
  position: relative;
  font-size: 25px;
  right: 0.88em;
  font-weight: 600;

}
  
#increasedTemperature .adviceToggleContent ul li {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
  list-style-position: inside;
  list-style: none;
  margin-left: 34px;
  text-indent: -10px;
}

.medicines::before{
  content: '\2022'; /* Unicode character for bullet */
  position: relative;
  font-size: 25px;
  right: 0.88em;
  font-weight: 600;
}

.medicines {
  text-indent: -10px;
  margin-left: 34px;
}

#sportMedicalExamination li::before{
  content: '\2022'; /* Unicode character for bullet */
  position: relative;
  font-size: 25px;
  right: 0.88em;
  font-weight: 600;
}

#sportMedicalExamination li{
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
  list-style-position: inside;
  list-style: none;
  margin-left: 34px;
  text-indent: -10px;

}

.sportMedicalExaminationDoctors{
  font-weight: normal;
  font-size: 22px;
  color: #160EAA;
}

#travelFirstAidKit li::before{
  content: '\2022'; /* Unicode character for bullet */
  position: relative;
  font-size: 25px;
  right: 0.88em;
  font-weight: 600;
}

#travelFirstAidKit li {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
  list-style-position: inside;
  list-style: none;
  margin-left: 34px;
  text-indent: -10px;
}

#vaccination h4, span{
  font-size: 22px;
}

#vaccination li::before{
  content: '\2022'; /* Unicode character for bullet */
  position: relative;
  font-size: 25px;
  right: 0.88em;
  font-weight: 600;
}

#vaccination .adviceToggleContent ul li{
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
  list-style-position: inside;
  list-style: none;
  margin-left: 34px;
  text-indent: -10px;
}


/*contact info section*/





.contactInfo{
  
  padding: 82px 0;
}

.contactInfo h2{
  font-size: 65px;
  font-weight: bold;
  margin: 0 0 0 150px;

}

#phoneIconEndOfaPage{
  margin: 0px 29px 0  136px ;
  height: 115px;
  width: auto;
}







.mainPage .contactContainerTelInside::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% + 442px); /* šířka obrázku + 100% šířky rodičovského prvku */
  height: 510px; /* výška obrázku */
  background: url('../img/Drak.svg') no-repeat; 
  background-size: contain;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0); /* oříznutí obrázku, 442px od pravého okraje */
}




.contactContainerTel  ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  font-size: 22px;
  margin: 0 0 100px 150px;

}

.contactContainerTel  li{
  margin-bottom: 25px;
  max-width: 700px;
}

.contactContainerTel  a{
  color: inherit;
  
  
}

.contactContainerTelInside{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 17px;
  flex-direction: row;
  margin-top: 32px;
}



.contactContainerTelInside > img  {
  height: auto;
  width: 126px;
  margin-left: 135px;
  
  
  
}

.contactContainerTelInside  a{
  font-size: 45px;
  /* margin-left: 30px; */
  color: inherit;
  text-decoration: inherit;
  
}

.contactContainerTelInside  a:hover{
  text-decoration: underline;
}



.contacUnList{
  list-style-type: none;
}

.contacUnList a:hover{
  text-decoration: none;
}

.contactContainerEmail{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 100px;
}


.contactContainerEmail > img{
  height:  auto ;
  width: 121px;
  margin-left: 135px;
  
}

.contactContainerEmail > a{
  font-size: 45px;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  margin-top: 0px;
}



.contactContainerEmail > a:hover{
  text-decoration: underline;
}


.emailList p{
  margin: 0 150px 25px 150px ;
  font-size: 22px;
  max-width: 700px;
  
}

.emailList ul{
  list-style-position: inside;
  margin-bottom: 0px;
}



.contactContainerAddress{
  display: flex;
  
  justify-content: space-between;
}

.contactContainerAddressInside > h5, p {
  font-size: 45px;
}

.contactContainerAddressInside > address {
  font-size: 30px;
}

.contactContainerAddressInside {
  display: flex;
  
  justify-content: space-between;
  
}

.contactContainerAddressInside div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 27px;
  margin-top: 75px;
}


.spendlik{
  height: auto;
  width: 131;
  margin-right: 29px;
  
  margin-left: 135px;
}

.contactContainerAddressInside h5{
  margin-right: 19px;
  font-size: 45px ;
  white-space: nowrap;
}

address {
  color: inherit;
  font-style: normal;
  margin-right: 215px;
 
  white-space: nowrap;
  font-size: 30px;
}

address a:hover{
  text-decoration: none;
}

.auticko {
  height: auto;
  width: 181px;
  position: absolute;
  left: 1100px;
}



#ordinancePhoto{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  position: relative;
  
  justify-content: flex-start;
  align-items: stretch;
  align-items: flex-start;
}

#ordinancePhoto :nth-of-type(1){
  margin-left: 70px;
}  


.ordinancePlace1 img,
.ordinancePlace2 img{
  
  margin-right: 10px;
  
  width: auto; 
  max-height: 394px;
  overflow: hidden;
}



.buildingDescription > p{
  margin-left: 150px;
  font-size: 22px;
  max-width: 700px;
}

/* footer section */

.footer{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px 0 150px;
  
  

}

footer{
  background-color: #D6EDF0 ;
  margin-bottom: 45px;
  height: 100px;

}

.footer img{
  margin-right: 27px;
}

.footerFirstImg {
  
  height: 42%;
  
  
}

.footer :nth-of-type(2){
  height: 50%;
  
}

.footer :nth-of-type(3){
  
  height: 53%;
}

.footer > p{
  font-size: 14px;
  color: #989898;
  letter-spacing: 0px;
  min-height: 51px;
  text-align: left;
  width: 414px;
  max-height: 70px;
  hyphens: auto;
  /* white-space: pre-wrap; */
  /* overflow: hidden; */
  /* word-wrap: break-word; */
  /* text-overflow: ellipsis; */
}


.marathonSign{
  font-size: 16px;
  color: #EABF7B;
  right: 0;
  position: absolute;
  margin-right: 70px;
  bottom: 19px;
}



/* cenik.html */

.priceListContainer{
  margin-left: 150px;
}

.priceList{
  height: 330px;

  margin-top: 40px;
  border-collapse: collapse;
  border-radius: 22px;
  overflow: hidden;
  margin-bottom: 30px;
}

.priceList td:nth-child(1) {
  padding-left: 40px;
  min-width: 700px;
  vertical-align: top;
}

.priceList td:nth-child(2){
  padding-left: 70px;
  min-width: 100px;
  vertical-align: top;
}

.validity{
  font-size: 16px;
  
}

.steamer{
  position: absolute;
  right: 2px;
  height: 170px;
  width: auto;
  z-index: -1;
  bottom: 190px;
}

.cenikPage .footerSignature{
  position: relative;
  padding-top: 270px;
}


/* registrace.html */

.registracePage h1{
  margin: 0 0 45px 150px;
}

.registracePage .navbar{
  margin-bottom: 85px;
}

.registracePage  p{
  font-size: 22px !important;
  margin: 0 0 0 150px;
  margin-bottom: 57px;
  max-width: 760px;

}

.registracePage .phone{
  margin: 0 0 0 135px;
}

.registracePage .contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 101px;
}

.registracePage .contact div{
  display: flex;
  align-items: center;
}



.registracePage .phone img{
  width: 115px;
  height: auto;
  margin-right: 10px;
}

.registracePage .phone a,
.registracePage .email a{
  font-size: 45px;
  text-decoration: none;
  color: #160EAA;
  min-width: 318px;
}

.registracePage .phone a:hover,
.registracePage .email a:hover{
  
  
  text-decoration: underline;
}

.registracePage .email{
  margin-left: 138px;
}

.registracePage .email img{
  width: 100px;
  height: auto;
  margin-right: 19px;

}

.listOfInsuranceCompaniesContainer span{

  font-size: 30px;
  font-weight: normal;
  z-index: 100;
}

.listOfInsuranceCompanies{
  background-color: #D6EDF0;
  padding: 82px 0;
  position: relative;
  z-index: 100;
}

.listOfInsuranceCompanies div{
  margin-left: 150px;
  z-index: 100;
}

.listOfInsuranceCompanies table{
  margin-top: 30px;
  z-index: 100;
}

.registracePage tr :nth-of-type(1){
  width: 60px;
}

.registracePage tr :nth-of-type(2){
  max-width: 500px;
}

.registracePage .footerSignature{
  padding-top: 50px;
}


/* vybaveniPage */

.equipment{
  margin-left: 10.4vw;
  margin-top: 80px;
}

.equipment h1{
  max-width: 700px;
  line-height: 1;
}

.equipment h5{
  max-width: 700px;
  font-weight: normal;
  margin-bottom: 50px;
}

.vybaveniPage table{
  max-width: 935px;
  border-radius: 22px;
  border-collapse: collapse;
  overflow: hidden;
}

.vybaveniPage tr{
  margin-left: 40px;
}


.vybaveniPage .footerSignature{
  padding-top: 45px;
}

/* aktualityPage */
.aktualityPage{
  background-color: #C6E5CD;
}

.aktualityPage .topBanner{
  display: none;
}


.aktualityPage h1{
  margin-top: 80px;
}

.actualContainer{
  margin-left: 10.4vw;
}

.actualContainer div{
  background-color: #FFFCF0;
  border-radius: 22px;
}

.vybaveniPage tr :nth-of-type(1){
  padding-left: 40px;
  max-width: 190px;
  vertical-align: top;
  padding-top: 6px;
  padding-bottom: 5px;
}

.vybaveniPage tr :nth-of-type(2){
  padding-left: 40px;
  padding-top: 6px;
  max-width: 720px;
  vertical-align: top;
  padding-bottom: 5px;
}

/* sluzbyPage */

.ourServices{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0  11.7vw 75px 0;
  padding-top: 80px;
  flex-basis: auto;
  justify-content: space-between;
}

.ourServices h2{
  margin: 0 0 0 10.4vw;
  line-height: 1;
}


.ourServices :nth-of-type(2){
  background-color: #FFEDA3;
  font-size: 30px;
  width: 322px;
  height: 69px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.ourServices :nth-of-type(2):hover{
  background-color: #FFFCF0;
  text-decoration: underline;
}

.offeredServicesContainer a{
  margin: 0 auto;
  color: inherit;
}

.offeredServicesContainer{
  margin-left: 11.6vw;
}

.offeredServicesContainer ul{
  list-style-position: outside;
  list-style: none;
}

.offeredServicesContainer li{
  margin-bottom: 30px;
  max-width: 700px;
  
}

.offeredServicesContainer li::before{
  content: '\2022'; /* Unicode character for bullet */
  position: relative;
  font-size: 25px;
  right: 0.88em;
  font-weight: 600;
}



.pedoBear{
  height: 165px;
  width: 131px;
  position: absolute;
  right: 50px;
  bottom: 25px;
  z-index: -1;
}

.sluzbyPage tr :nth-of-type(1){
  width: 60px;
}

.sluzbyPage tr :nth-of-type(2){
  max-width: 500px;
}

